.idea
target
*.iml
src/main/generated-sources/
doc/*.toc
doc/*.aux
doc/*.log
doc/*.out
src/main/webapp/**/node_modules
*.log
src/main/webapp/package-lock.json
*.sc
scripts
!test/resources/scripts/
profiles/production/js
profiles/production/resources/css